#nextsteps{
  color: darkblue
}

.emphasized{
  font-size: 0.9em
}

body{ /* Normal  */     font-size: 14px; margin-left: 20pt}
td {  /* Table  */      font-size: 16px; }
title { font-size: 20px; color: darkred; }
h1 { /* Header 1 */ 
   color: DarkBlue}
   
h2 { /* Header 2 */
    color: DarkBlue}

h3 { 
    /* Header 3 */     font-size: 14px; color: DarkBlue; 
}

blockquote {
  font-style: italic
}

.gdbar {
  width: 400px !important;
  height: 170px !important;
}

#right  {
float: right;    
 margin: 0 0 0 15px;
}

#left {
  float: left;
  margin: 0 0 0 15px;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 75px;
  background-size: 150px 75px;
}
